<mat-toolbar fxLayout="row" color="primary">
  <div fxFlex fxLayoutAlign="left">
    <mat-icon>loyalty</mat-icon>
    <h1>Planning Poker</h1>
  </div>
  <div fxFlex fxLayoutAlign="center">
    <span>{{sprint?.Name}}</span>
  </div>
  <div fxFlex fxLayoutAlign="end">
    <button mat-button [matMenuTriggerFor]="menu">{{user?.Name}}</button>
    <mat-menu #menu="matMenu">
      <button *ngIf="user && user.Name !== ''" (click)="logOut()" mat-menu-item>Logout</button>
    </mat-menu>
  </div>
</mat-toolbar>