# macOS
.DS_Store

*.code-workspace
static-ui/
src/ui/package-lock.json

# KDE
.directory

#running go build would create this
src/planningpoker
src/gc

#VS code
.vscode

#IDEA
.idea

#PEM
planningpoker-kp.pem

#Docker Image
planningpoker.tar
