# macOS
.DS_Store

# Vi
*.swp

*.code-workspace
static-ui/

# KDE
.directory

#running go build would create this
src/planningpoker
src/gc

#VS code
.vscode

#IDEA
.idea

#PEM
planningpoker-kp.pem

#Docker Image
planningpoker.tar
