.mat-row {
  height: auto;
}

.mat-cell {
  padding: 8px 8px 8px 0;
}

.hideV{
  background-color: #FFD700;
}
.showV{
  background-color: #F08080;
}

.example-h2 {
  margin: 10px;
}

.example-section {
  display: flex;
  align-content: center;
  align-items: center;
  height: 60px;
}

.example-margin {
  margin: 0 10px;
}