<div>
<table mat-table [dataSource]=users class="mat-elevation-z8">
  <!-- Position Column -->
  <ng-container matColumnDef="NAME">
    <th mat-header-cell *matHeaderCellDef> NAME </th>
    <td mat-cell *matCellDef="let user"> {{crowned(user)}} </td>
  </ng-container>
  <ng-container matColumnDef="VOTE">
    <th mat-header-cell *matHeaderCellDef> VOTE </th>
    <td mat-cell *matCellDef="let user"> {{cardify(user.Vote, showV)}} </td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row (click)="setNextMaster(row)" *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
</div>

<br>
<div>
  <button mat-raised-button id="btn1" class="hideV" (click)="showVoteFunc()">{{btn1text}}</button>
</div>
