<div>
<table mat-table [dataSource]=tabledata class="mat-elevation-z8">
  <!-- Position Column -->
  <ng-container matColumnDef="NAME">
    <th mat-header-cell *matHeaderCellDef> Name </th>
    <td mat-cell *matCellDef="let user"> {{crowned(user)}} </td>
  </ng-container>
  <ng-container matColumnDef="VOTE">
    <th mat-header-cell *matHeaderCellDef> Vote </th>
    <td mat-cell *matCellDef="let user"> {{cardify(user.Vote, true)}} </td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row (click)="setNextAdmin(row)" *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
</div>
<br>

<div *ngIf="user?.Admin" >
  <button mat-raised-button id="btn1" [ngClass]="{'showV': showVote}" (click)="showVoteFunc()">{{showVote ? 'Hide Votes' : 'Show Votes'}}</button>
</div>


<table mat-table [dataSource]="tabledata" class="mat-elevation-z8">
  <ng-container [matColumnDef]="column" *ngFor="let column of columns">
    <th mat-header-cell *matHeaderCellDef> {{column}} </th>
    <td mat-cell *matCellDef="let element"> {{element[column]}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="columns"></tr>
  <tr mat-row *matRowDef="let row; columns: columns;"></tr>
</table>


