.mat-row {
  height: auto;
}

.mat-header-cell {
	font-size: 15px;
}

.mat-cell {
  font-size: 15px;
  padding: 8px 8px 8px 0;
  text-align: left;
}

#btn1:not(.showV) {
  background-color: #FFD700;
}

.showV{
  background-color: #F08080;
}

table {
  width: 100%;
}
