<app-poker-card></app-poker-card>

<br>

<div class="container-fluid text-center">    
  <div class="row content">
    <div class="col-sm-3 sidenav">
      <app-memberslist [sprint_id]="sprint_id" ></app-memberslist>
    </div>
    <div class="col-sm-6 text-left"> 
      <mat-card class="background-warn">
          <mat-card-title fxLayoutAlign="center">
            <div *ngIf="user?.Id == admin; else staticTitle">
              <h3>
                <input matInput placeholder="Enter Story Title" [(ngModel)]="round.Name" class="std-input" (keyup.enter)="setRoundTitle(round.Name)">
              </h3>
            </div>
            <ng-template #staticTitle>
                <h3>{{title_ify(round.Name)}}</h3>
            </ng-template>
          </mat-card-title>
          <mat-card-actions *ngIf="user?.Id == admin">
            <button class="button-secondary" mat-raised-button [disabled]= "round.Name == '' || !isVoteShown" (click)="archiveRound(round.Name)">Next Round</button>
          </mat-card-actions>
      </mat-card>
      <br>
      <mat-card class="background-secondary">
        <mat-card-title>
          Timer:
        </mat-card-title>
        <mat-card-content fxLayoutAlign="center">
          <h1 id="roundTimer">{{roundTime}}</h1>
          <app-elapsed-timer></app-elapsed-timer>
          <br>
        </mat-card-content>
      </mat-card>
      <br>
      <div class="cardList">
        <mat-card class="background-third">
          <mat-card-header>
            <mat-card-title class="text-primary">
              Recommended: 
              <button mat-raised-button style="height: 90px; font-size: 2em;max-width: 8%;">
                <h1>
                  <span>{{stats[3]}} </span>
                </h1>
              </button>
            </mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <div fxFlex fxLayoutAlign="left">
              Mean: {{beautifyMean(stats[2])}}
            </div>
            <div fxFlex fxLayoutAlign="center">
              Median: {{stats[1]}}            
            </div>
            <div fxFlex fxLayoutAlign="end">
              Mode: {{stats[0]}}
            </div>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
    <div class="col-sm-3 sidenav">
      <table mat-table [dataSource]=rounds class="mat-elevation-z8">
        <!-- Position Column -->
        <ng-container matColumnDef="ROUNDS">
          <th mat-header-cell *matHeaderCellDef> Rounds </th>
          <td mat-cell *matCellDef="let rounds"> {{rounds.Name}} </td>
        </ng-container>
        <ng-container matColumnDef="RESULT">
          <th mat-header-cell *matHeaderCellDef> Result </th>
          <td mat-cell *matCellDef="let rounds"> {{hideLastElementInList(rounds)}} </td>
        </ng-container>
        <ng-container matColumnDef="STARTED">
          <th mat-header-cell *matHeaderCellDef> Started </th>
          <td mat-cell *matCellDef="let rounds"> {{date_to_clock(rounds.CreationTime)}} </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>
  </div>
</div>
<br>


<app-share></app-share>

