<app-poker-card></app-poker-card>
<br>

<mat-card class="background-secondary">
  <mat-card-header>
    <mat-card-title class="text-primary">
      Current Story Title: {{curStory}}
    </mat-card-title>
    <mat-card-subtitle>
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <mat-form-field>
      <mat-label>Next Story title</mat-label>
      <input matInput placeholder="story" [(ngModel)]="story"
       (keyup.enter)="addStory(story)" >
    </mat-form-field>
  </mat-card-content>
  <mat-card-actions>
  </mat-card-actions>
</mat-card>
