<div class=container>
  <h1 fxLayoutAlign="space-around stretch" class="text-primary"> Welcome to Planning Poker </h1>
  <mat-card class="background-primary">
    <mat-card-header>
      <mat-card-title class="text-primary">
        Create a new session
      </mat-card-title>
      <mat-card-subtitle>
      </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <mat-form-field appearance="outline">
        <mat-label>Sprint Name</mat-label>
        <input matInput placeholder="Name" [(ngModel)]="name"
         (keyup.enter)="createSprint(name)" >
        <mat-icon matSuffix>info</mat-icon>
        <mat-hint>Please name your sprint.</mat-hint>
      </mat-form-field>
    </mat-card-content>
    <mat-card-actions fxLayoutAlign="end">
      <button (click)="createSprint(name)" mat-flat-button color="accent">
        <mat-icon>add</mat-icon> Sprint
      </button>
    </mat-card-actions>
  </mat-card>

</div>
